<div class="layout-container" id="app">

  <nav id="main-navbar" class="navbar navbar-fixed-top navbar-expand-md px-md-5">
    <div class="collapse navbar-collapse" id="navbarCollapse">
      {{ page.header }}
    </div>
  </nav>

  {{ page.breadcrumb }}

  {{ page.highlighted }}

  <main role="main">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

    <div class="container">
      {{ page.content }}
    </div>

  </main>

  <footer class="footer">
    {% if page.footer %}
      {{ page.footer }}
    {% endif %}
  </footer>

</div>
